*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@font-face{
    font-family: Cambria;
    src: url('../fonts/cambriab.ttf');
}

body{
    font-family: Cambria;
    font-size: 20px
}

.body{
    color: #ffffff;
    background-image: url('../images/main-background.png');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
	overflow: hidden;
	display: flex;
	position: relative;

	&__active{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__footer{
		position: absolute;
		bottom: 3em;
	}
}
.witcher{
	width: 55.3em;
	height: 100vh;
	&__sparks-front{
		padding-top: 16em;
	}
}
.active{
	&__percents{
		font-size: 10.45em;
		line-height: 1em;
		color: #ffffff;
		font-family: "Cambria";
		font-weight: bold;
	}
	&__text{
		font-size: 3.4em;
		line-height: 1em;
		color: #ffffff;
		text-align: center;
		font-family: "Cambria";
		font-weight: bold;
	}
	&__code{
		margin: 2.5em auto 0;
	}
	&__play{
		text-align: center;
		padding-top: 2.8em;
	}
	&__button{
		font-size: 1em;
		letter-spacing: 0.1em;
		line-height: 1.1em;
		color: #ffffff;
		font-family: "Arial";
		font-weight: bold;
		text-align: center;
		width: 18em;
		height: 4em;
		border-radius: 40px;
		background-color: #f73427;
		transition-duration: 0.4s;
		&:hover{
			background-color: #fff;
			color: #f73427;
		}
	}
}
.code{
	display: flex;
    width: fit-content;
	overflow: hidden;
	border: 1px dashed #464646;
	border-radius: 80px;
	
	&__input{
		background-color: #000000;
		font-size: 2em;
		letter-spacing: 0.05em;
		line-height: 1em;
		color: #f73427;
		font-family: "Arial";
		height: 2.01em;
		width: 6.7em;
		text-align: center;
	}
	&__button{
		background-color: #000000;
		font-size: 0.9em;
		letter-spacing: 2px;
		line-height: 0.9em;
		color: #ffffff;
		font-family: "Arial";
		text-align: center;
		width: 199px;
		border-left: 1px solid #464646;
		transition-duration: 0.4s;
		&:hover{
			background-color: #f73427;
		}
	}
}
.footer{
	padding: 0 3.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	height: 3em;
	z-index: 1;
	&__logo{
		height: 100%;
	}
	&__img{
		height: 100%;
		width: auto;
	}
	&__terms{
		font-size: 0.6em;
		line-height: 0.6em;
		color: #464646;
		font-family: "Arial";
	}
}
.unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
									not supported by any browser */
}

@media only screen and (min-height: 1080px){
	.active{
		&__bonus{
			margin-top: -2.3em;
		}
	}
}

@media only screen and (max-width: 1440px){
	.witcher{
		width: 35em;
	}
	.active{
		z-index: 1;
		&__box{
			-webkit-box-shadow: 0 0 60px 30px #000000;
			box-shadow: 0 0 100px 85px #000000;
			background-color: #000000;
		}
	}
}

@media only screen and (max-width: 1024px){
	.body{
		&__witcher{
			display: none;
		}
		&__active{
			width: 100%;
		}
		&__footer{
			bottom: 1em;
		}
	}
	.active{
		// height: 105vh;
		background-image: url('src/images/witcher.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		&__box{
			// box-shadow: 0px 0px 300px 160px black;
			// background-color: #000000d1;
			background: none;
			box-shadow: none;
			text-align: center;
		}
		&__bonus{
			margin: 0;
		}
	}
}

@media only screen and (max-width: 823px){
	body{
		font-size: 12px;
	}
}

@media only screen and (max-width: 768px){
	body{
		font-size: 20px;
	}
}

@media only screen and (max-width: 736px){
	body{
		font-size: 13px;
	}
	.active{
		&__play{
			padding-top: 2em;
		}
		&__code{
			margin: 1.5em auto 0;
		}
	}
}

@media only screen and (max-width: 568px){
	body{
		font-size: 10px;
	}
}

@media only screen and (max-width: 411px){
	body{
		font-size: 13px;
	}
}

@media only screen and (max-width: 375px){
	body{
		font-size: 11px;
	}
}

@media only screen and (max-width: 320px){
	body{
		font-size: 10px;
	}
	.code{
		&__button{
			width: 15em;
		}
	}
}